@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Please call/text us for your balloon arch and garland needs!</p>
<ul style="list-style:none; padding:0;">
    <li>
        <strong>Sahily</strong><br>
        Phone: <a href="tel:+19166671301" onclick="gtag_report_conversion('tel:+19166671301');">(916) 667-1301</a>
        <br>
        Email: <a href="mailto:sahily@sahilyballoons.com?subject=Balloon%20Inquiry">sahily@sahilyballoons.com</a>
    </li>
    <li style="margin-top:1em;">
        <strong>Leo</strong><br>
        Email: <a href="mailto:leo@sahilyballoons.com?subject=Balloon%20Inquiry">leo@sahilyballoons.com</a>
    </li>
</ul>
