@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Please call/text us for your balloon arch and garland needs!</p>
<p>     Phone: (916) 667-1301</p>
<p>     Email: sahilymedinabusiness@gmail.com</p>
