@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Sahily Balloons’s policy does not extend to anything that is inherent in the operation of the Internet, and therefore beyond Sahily Balloons’s control, and is not to be applied in any manner contrary to applicable law or governmental regulation. We reserve the right at our discretion to make changes to this policy at any time. Please check this page periodically for changes.</p>
